html, body {
  height: 95%;
}

#map {
  height: 100%;
}
.marker-cluster-small {
background-color: rgba(36, 128, 255, 0.6);
}
.marker-cluster-small div {
background-color: rgba(36, 100, 200, 0.6);
}
.marker-cluster-medium {
background-color: rgba(255, 128, 36, 0.6);
}
.marker-cluster-medium div {
background-color: rgba(200, 100, 36, 0.6);
}

.marker-cluster-large {
background-color: rgba(255, 36, 36, 0.6);
}
.marker-cluster-large div {
background-color: rgba(200, 36, 36, 0.6);
}
